[submodule "Dependencies/LidgrenNetwork"]
	path = Dependencies/LidgrenNetwork
	url = https://github.com/demiurghg/lidgren-network-gen3
[submodule "Dependencies/BEPUphysics"]
	path = Dependencies/BEPUphysics
	url = https://github.com/demiurghg/BEPUphysics
