[submodule "Dependencies/NvApiWrapper"]
	path = Dependencies/NvApiWrapper
	url = https://github.com/demiurghg/NvApiWrapper
[submodule "Dependencies/NvTextureTools"]
	path = Dependencies/NvTextureTools
	url = https://github.com/casseveritt/nvidia-texture-tools
[submodule "Dependencies\\LidgrenNetwork"]
	path = Dependencies\\LidgrenNetwork
	url = https://github.com/lidgren/lidgren-network-gen3
[submodule "Dependencies/BEPUphysics"]
	path = Dependencies/BEPUphysics
	url = https://github.com/demiurghg/BEPUphysics
[submodule "Dependencies/BMFont"]
	path = Dependencies/BMFont
	url = https://github.com/demiurghg/BMFont
